@model Tracker.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h4>
    <a class="btn-floating btn-medium waves-effect waves-light blue" asp-action="Index"><i class="material-icons">arrow_back</i></a>
    Category Details
</h4>
 
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a> |
</div>
